# ========================
# .NET build outputs
# ========================
bin/
obj/
**/bin/
**/obj/

# ========================
# Rider / JetBrains
# ========================
.idea/
*.sln.iml

# ========================
# Visual Studio / Rider user files
# ========================
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# ========================
# Debug / cache
# ========================
.vs/
.vscode/
Debug/
Release/

# ========================
# Logs
# ========================
*.log

# ========================
# OS stuff
# ========================
.DS_Store
Thumbs.db

# ========================
# NuGet
# ========================
packages/
*.nupkg

# Files
*.tmp.json
